<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.station.dao.ITicketDao">
    <select id="getTicketList" resultType="Ticket">
        SELECT
        id, start_station startStation, stop_station stopStation, departure_time departureTime , price, ticket_num ticketNum
        FROM ticket
        ORDER BY id ASC
    </select>

    <select id="selectTicketById" resultType="Ticket">
        SELECT
        id, start_station startStation, stop_station stopStation, departure_time departureTime , price, ticket_num ticketNum
        FROM ticket
        WHERE id = #{ticketId}
    </select>

</mapper>