<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.station.dao.ITicketOrderDao">
    <insert id="addTicketOrder" parameterType="TicketOrder">
        INSERT INTO
        ticket_order (ticket_id, user_id, num, state, order_num, create_time, update_time)
        VALUES
        (#{ticketId}, #{userId}, #{num}, #{state}, #{orderNum}, now(), now())
    </insert>

    <select id="selectByOrderNum" resultType="TicketOrder" parameterType="string">
        SELECT
        id, ticket_id ticketId, user_id userId, num, state, order_num orderNum
        FROM ticket_order
        WHERE order_num = #{orderNum}
    </select>

    <update id="updateOrder" parameterType="TicketOrder">
        UPDATE ticket_order SET state=#{state},update_time=now() WHERE id = #{id}
    </update>
</mapper>